<!DOCTYPE html> 
<html>
	<head>
		<title>
			@ViewData["Title"]
		</title>
		<link href="~/StyleSheet.css" rel="stylesheet" />
	</head>
	<body>
		<h1 class="text-center">Social Media Links</h1>
		<div>
			@RenderBody()
		</div>
	</body>
</html>