<div class="container margin-top flex">
	<div>
		<a href="@ViewBag.Links.Facebook">Facebook</a>
	</div>
	<environment exclude="development">
		<div>
			<a href="@ViewBag.Links.Instagram">Instagram</a>
		</div>
	</environment>
	<div>
		<a href="@ViewBag.Links.Twitter">Twitter</a>
	</div>
	<div>
		<a href="@ViewBag.Links.Youtube">Youtube</a>
	</div>
</div>